$background-light: white;
$background-secondary-light: #ECE5E0;
$background-tertiary-light: #ECE5E0;
$font-light: #342432;


$background-dark: rgb(29, 24, 29);
$background-secondary-dark: #171515;
$background-tertiary-dark: #a99aaad7;
$font-dark: rgb(255, 241, 239);