@font-face {
  font-family: 'butler-light';
  src: url('./fonts/Butler_Light_Stencil.otf')
}
@font-face {
  font-family: 'butler-regular';
  src: url('./fonts/Butler_Regular_Stencil.otf')
}
@import './styles/base/reset.scss';


$color1: #EEE7E1;
$color2: white;
$color3: #271A26;

.homepage-wrapper {
  height: 100%;
}

.homepage-container {
  background-color: $color1;
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-wrapper {
    display: flex;
    flex-direction: row;
    
    background-color: $color2;
    width: 75em;
    height: inherit;
    margin: 8vh auto;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0px 20px 50px 0px rgba(163, 163, 163, 0.365);

    .main-body-article {
      height: 90%;
      width: 90%;
      margin: 0 4rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}