@font-face {
  font-family: 'v-italic';
  src: url('./fonts/Valkyrie-ExtendedItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'v-regular';
  src: url('./fonts/Valkyrie-Regular.ttf') format('truetype');
}

$color1: #EEE7E1;
$color2: white;
$color3: #271A26;



.homepage-container {
  background-color: $color1;
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-wrapper {
    display: flex;
    flex-direction: row;
    
    background-color: $color2;
    width: 60%;
    height: inherit;
    margin: 8vh auto;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0px 20px 50px 0px rgba(163, 163, 163, 0.365);
  }
}